{{define "header"}}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1" />
<style>
table{ width:100%; }
table.zebra tr:nth-child(even) { background-color: #E6E6E6; }
.err tr:nth-child(4n) { background-color: #E6E6E6; }
.err tr:nth-child(4n+1) { background-color: #E6E6E6; }
th { background-color: lightsteelblue; }
td { padding: 2px; }
td.completed { background-color:transparent; }
td.completed_with_errors { background-color: #DDDD88; }
td.failed { background-color: #FF8888; }
td.known_error { background-color:plum; }
td.submitted { background-color:#8888FF; }
td.processing { background-color:#BBBBFF; }
td.aborted { background-color:darkgray; }
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 36px;
    font-family: helvetica;
    vertical-align: middle;
    width: 80%;
    height: 70px;
    display: block;
}
.watch0{
    background-color: #4CAF50; /* Green */
}
.watch1{
    background-color: #4C2250; /* Green */
}
.watch2{
    background-color: #123456; /* Green */
}
a:active {
    background-color: #8888FF;
}
.blue {
	background-color: #6C70BF;
}
.pre { width: 330px; white-space: pre-wrap; }
.qfield { width: 330px; border: solid 2px #4CAF50; font-size: 32px; }
</style>
</head>
<body>
{{end}}

