{{define "ipcam"}}
{{template "header"}}
<table>
        <tr>
	        <td><a href="/" class="button blue">Main</a></td>
	        <td><a href="/ipcam?cmd=move&arg=full" class="button blue">Full</a></td>
        </tr>
        <tr>
	        <td><a href="/ipcam?cmd=move&arg=nw" class="button blue">NW</a></td>
	        <td><a href="/ipcam?cmd=move&arg=ne" class="button blue">NE</a></td>
        </tr>
        <tr>
	        <td><a href="/ipcam?cmd=move&arg=sw" class="button blue">SW</a></td>
	        <td><a href="/ipcam?cmd=move&arg=se" class="button blue">SE</a></td>
        </tr>
        <tr>
	        <td><a href="/ipcam?cmd=start" class="button blue">Start</a></td>
	        <td><a href="/ipcam?cmd=stop" class="button blue">Stop</a></td>
        </tr>
        <tr>
	        <td><a href="/ipcam?cmd=volume&arg=-10" class="button blue">Vol -</a></td>
	        <td><a href="/ipcam?cmd=volume&arg=10" class="button blue">Vol +</a></td>
        </tr>
</table>
{{template "footer"}}
{{end}}
