{{define "error"}}
{{template "header"}}
<table>
	<tr><td><div class="button error">{{.Error}}</div></td></tr>
	<tr><td><a class="button blue" href="/">Main</a></td></tr>
</table>
{{template "footer"}}
{{end}}

{{define "main"}}
{{template "header"}}
<table>
	<tr><td><a class="button" href="/bookmarks">Bookmarks</a></td></tr>
	<tr><td><a class="button" href="/history">History</a></td></tr>
	<tr><td><a class="button" href="/channels">Channels</a></td></tr>
	<tr><td><a class="button" href="/archive">Archive</a></td></tr>
	<tr><td><a class="button" href="/search">Search</a></td></tr>
	<tr><td><a class="button" href="/local">Local</a></td></tr>
	<tr><td><a class="button blue" href="/play/">Player</a></td></tr>
	<tr><td><a class="button blue" href="/log">Log</a></td></tr>
	<tr><td><a class="button blue" href="/cookies">Cookies</a></td></tr>
</table>
version: {{.Version}}
{{template "footer"}}
{{end}}

{{define "activation"}}
{{template "header"}}
<h2>Activation</h2>
To activate the box enter go to <a href="https://www.etvnet.com/device/">etvnet activation page</a><br>
and enter the code:<br>
<h3>{{.UserCode}}</h3>
<table>
<tr><td><a class="button" href="/authorize?device_code={{.DeviceCode}}">Code entered</a></td></tr>
<tr><td><a class="button blue" href="/">Main</a></td></tr>
</table>
{{template "footer"}}
{{end}}

{{define "bookmarks"}}
{{template "header"}}
<h1>Bookmarks</h1>
<table>
	{{range .List}}
	<tr><td><a class="button title" href="/item/{{.ID}}">{{.ShortName}}<br>{{.OnAir}}</a></td></tr>
	{{end}}
	<tr><td><a class="button blue" href="/">Main</a></td></tr>
</table>
{{template "footer"}}
{{end}}

{{define "items"}}
{{template "header"}}
<table>
	{{range .List}}
	<tr><td><a class="button title watch{{.WatchStatus}}" href="/item/{{.ID}}">{{.ShortName}}<br>{{.ChildrenCount}}<br>{{.OnAir}}</a></td></tr>
	{{end}}
</table>
{{template "footer"}}
{{end}}

{{define "movie"}}
{{template "header"}}
	<h1>{{.Name}}</h1>
	<h3>{{.Country}} {{.Year}}</h3>
	<h3>{{.OnAir}}</h3>
	<h3>{{.Tag}}</h3>
	<a class="button" href="/play/?id={{.ID}}">Play</a>
	<br>
	<br>
	<img src="{{.Thumb}}">
	<div class="pre">{{.Description}}</div>
{{template "footer"}}
{{end}}

{{define "local"}}
{{template "header"}}
<table>
	{{range .List}}
	<tr><td><a class="button watch0 title" href="/play/?lid={{.ID}}">{{.Name}}</a></td></tr>
	{{end}}
	<tr><td><a class="button blue" href="/">Main</a></td></tr>
</table>
{{template "footer"}}
{{end}}

{{define "cookies"}}
{{template "header"}}

<table>
	<tr><td>AccessToken:</td><td>{{.Auth.AccessToken}}</td></tr>
	<tr><td>Expires:</td><td>{{.Auth.Expires}}</td></tr>
	<tr><td>RefreshToken:</td><td>{{.Auth.RefreshToken}}</td></tr>
</table>
<table>
	<tr><td><a class="button blue" href="/cookies?refresh=1">Refresh</a></td></tr>
	<tr><td><a class="button blue" href="/activate">Activate</a></td></tr>
	<tr><td><a class="button blue" href="/">Main</a></td></tr>
</table>
{{template "footer"}}
{{end}}

