<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width; maximum-scale=1; minimum-scale=1;" />
<style>
table.zebra tr:nth-child(even) { background-color: #E6E6E6; }
.err tr:nth-child(4n) { background-color: #E6E6E6; }
.err tr:nth-child(4n+1) { background-color: #E6E6E6; }
th { background-color: lightsteelblue; }
td { padding: 2px; }
td.completed { background-color:transparent; }
td.completed_with_errors { background-color: #DDDD88; }
td.failed { background-color: #FF8888; }
td.known_error { background-color:plum; }
td.submitted { background-color:#8888FF; }
td.processing { background-color:#BBBBFF; }
td.aborted { background-color:darkgray; }
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    width: 240px;
    min-height: 100px;
}
.pre { width: 600px; white-space: pre-wrap; }
.qfield { width: 400px; border: solid 2px #4CAF50; font-size: 32px; }
</style>
</head>
<body>

